{
  "env": {
    "es6": true,
    "node": true,
    "mocha": true
  },
  "extends": ["standard", "prettier", "prettier/standard"],
  "plugins": ["prettier", "standard"],
  "overrides": [
    {
      "files": ["**/test/*.js"],
      "rules": {
        "no-unused-expressions": "off"
      }
    }
  ]
}
